# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Activate patchwork'
      'command': 'patchwork:activate'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'patchwork'
      'submenu': [
        {
          'label': 'Activate'
          'command': 'patchwork:activate'
        }
      ]
    ]
  }
]
